[
    {config, [
        #{
            files => ["src/**/*.erl"],
            ruleset => erl_files_strict,
            rules =>
                [
                    {elvis_style, no_macros, disable},
                    {elvis_style, no_invalid_dynamic_calls, #{
                        ignore => [wpool_process, wpool_time_checker]
                    }},
                    {elvis_style, no_god_modules, #{limit => 30}},
                    {elvis_style, state_record_and_type, disable},
                    {elvis_style, dont_repeat_yourself, #{min_complexity => 13}},
                    {elvis_style, max_function_length, disable},
                    {elvis_style, max_function_clause_length, #{max_length => 75}}
                ]
        },
        #{
            files => ["test/*.erl"],
            ruleset => erl_files_strict,
            rules =>
                [
                    {elvis_style, no_debug_call, disable},
                    {elvis_style, state_record_and_type, disable},
                    {elvis_style, dont_repeat_yourself, #{min_complexity => 13}},
                    {elvis_style, max_module_length, disable},
                    {elvis_style, max_function_length, disable},
                    {elvis_style, max_function_clause_length, disable},
                    {elvis_style, abc_size, disable}
                ]
        }
    ]}
].
